body {
  background-color: lightskyblue;
}

button {
  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.title {
  text-align: center;
}

.todo-input-row {
  display: flex;
  gap: 4px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.todo-list-information {
  text-align: center;
}

.todo-list-item {
  background-color: white;
  padding: 8px;
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}

.todo-list-item-name {
  flex: 1;
}

.todo-list-item-delete {
  background: none;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.todo-list-item-delete:hover {
  color: red;
}